@page
@model IndexModel
@{
    ViewData["Title"] = "Cherish Franco - IOT Assignment 4";
}

<div class="text-center">
    <h1 class="display-4">Assignment 4</h1>
    <p>Cherish Franco, IOT class.</p>
</div>
